<?xml version="1.0" encoding="utf-8"?>
<manifest android:versionCode="1" android:versionName="0.0.1" package="teaonly.projects.palmapi"
  xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <application android:label="@string/app_name" android:icon="@drawable/icon">
        <activity android:label="@string/app_name" android:name=".MainActivity" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--
        <activity android:theme="@android:style/Theme.Dialog" android:name=".HelpActivity" android:stateNotNeeded="true" android:launchMode="singleTask" android:screenOrientation="portrait" android:noHistory="true" />
        -->
        <activity android:name=".AnalyserActivity" android:stateNotNeeded="true" android:screenOrientation="portrait"/>
    </application>
    <uses-sdk android:minSdkVersion="8" />
</manifest>

